.ItemDetailBox {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: max-content;
    margin-top: 20px;
    padding: 50px;
    gap: 50px;
}

.ItemDetails {
    width: 40vw;
}

.ItemDetailImage {
    width: 400px;
    height: 400px;
    border-radius: 5px;
}

.ItemDetailBox .ItemDetailName {
    font-size: 35px;
}

.ItemDetailBox .ItemDetails {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 50px;
}

.ItemDetailBox .ItemDetails h4 {
    margin-top: 20px;
    font-size: 20px;
}

.ItemDetailBox .ItemDetails p {
    font-size: 30px;
    padding-top: 10px;
}

.ItemDetailBox .ItemDetails .stock {
    font-size: 18px;
}

.BottonDetail {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.TopDetails {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.topDetailNav {
    margin-top: 20px;
    padding: 10px;
    font-size: 20px;
    border-bottom: 1px solid #2d2d2d;
    border-top: 1px solid #2d2d2d;
}

.topDetailNav a {
    color: #2d2d2d;
}